
body {
    background-image:url('https://cdn.freebiesupply.com/logos/large/2x/sesame-street-logo-png-transparent.png');
    background-size: 75% 60%;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-color: rgb(91, 163, 119);
}

.tablerow
{
    color:yellow;
}


#mydiv {
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border: solid 5px green;
    overflow: auto;

    }
#mydiv>h3 {
    position: sticky;
    top: 0px;
}
    #mydiv2 {
        width: 50%;
        height: 20px;
        padding: 20px;
        margin: 10px;
        border: solid 10px red;
        overflow: auto;
    }
    #mydiv2>h2{
        position: fixed;
        right: 0px;
    }
    #app{
    width: 80%;
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 5px red;
    overflow-y: scroll;
    }
    #app>h3{
        position: relative;
        top: 0px;
    }
    #button{
        position: absolute;
        left: 32%
    }
    #A1{
        display:flex;
        flex-direction:colum;
        align-items:center;

    }
    @media all and (max-width: 500px) {
        body{
            color: red
        }
        img { max-width: 500px; max-height: 300px; }
        table { width: 800px; 
        }
    }